<html>
<head>
  <title> my amazing website </title>
  <style>
h1{ color: blue;
    font-style: bold;
     background-color: dark blue;
     font-size: 12px;
    }
li{ width:50px;
    font-family: sans-serif;
    font-weight: 800;
    }
ul{ font-family: serif;
    font-weight: 50;
    width:20px;
    font-size: 5px;
    font-style: italic;
    background-color: red;
    color: orange;
  }

h1{ font-family: roboto;
    font-weight: 80;
    width: 50px;
    font-size: 6px;
    font-style: bold;
    background-color: green;
    color: gray;
}
table, th, td { border: 10px, solid blue;
                border-collapse: collapse;
}
th, td{ padding: 15px;
}
table{ border-spacing:16px;
}
